/* ----- fonts ----- */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {

  --Monserrat-family: 'Montserrat', sans-serif;
  --body-bg-color: #202020;
  --card-bg-color: #232323;
  --text-color: #c2c2c2;
  --color-alpha: hsla(99, 14%, 75%, 0.623);
  --fb-bg-color: #456da4;
  --li-bg-color: #0984c6;
  --ig-bg-color: #006184;
  --lh-text: 22px;
}

* {

  margin: 0;
  padding: 0;
  font-size: 18px;
  /* box-sizing: border-box; */
}

body {
  padding-top: 50px;
  font-family: var(--Monserrat-family);
  background-color: var(--body-bg-color);
  font-size: 18px;
}

.container {
  overflow: hidden;
  border: 1px solid var(--color-alpha);
  width: 385px;
  height: 549px;
  padding-top: 50px;
  margin: 60px auto;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 #f3f1f1;
  transition: 0.3s;

}

.container:hover {
  box-shadow: 10px 8px 16px 10px var(--ig-bg-color);
}

.container-image-profile {
  border: 1px solid white;
  background-image: url(../img/profile.jpg);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
  padding-top: 20px;
}

.container-info {
  /* border: 1px solid rgb(255, 72, 0); */
  width: 250px;
  height: 213px;
  margin: 15px auto;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 1em;
  margin: 24px 0;
  color: var(--text-color);
}

h5 {
  color: var(--text-color);
  background-color: var(--card-bg-color);
  width: 180px;
  height: 30px;
  border-radius: 8px;
  text-align: center;
  margin: 14px auto;
  font-size: 0.9em;
  padding-top: 5px;

}

p {
  font-size: 18px;
  /* color: var(--GrayishBlue); */
  color: var(--text-color);
  text-align: center;
  margin: 0 15px;
  justify-content: center;
}
/* ***** */
.container-social {
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
}

/* 
.social a {
  text-decoration: none;
  width: 386px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  color: #f1f1f1;
  border-radius: 50%;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  padding-right: 30px;
} */

.fb {
  color: var(--fb-bg-color);
}

.lk {
  color: var(--li-bg-color);
}

.container-social a:hover {
  transition: 300ms;
  /* background-color: var(--text-color); */
}